header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #212322;
  color: white;
  position: sticky;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}

.cart img {
  max-width: 2em;
}