
.productParent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: auto;
    align-items: center;
    width: 60%;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.651);
    padding: 50px;
}

.product {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: fit-content;
    background-color: white;
    padding: 20px;
}

.productImage {
 height: 40%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.productDesc {
    display: flex;
    justify-content: center;
    gap: 0;
}

img {
    width: 100%;
}


@media screen and (max-width:1746px) {
    .product {
        width: 25%;
    }
}

@media screen and (max-width:1040px) {
    .productParent {
        width: 70%;
    }
}

@media screen and (max-width: 870px) {
    .product {
        width: 40%;
    }
}

@media screen and (max-width: 686px) {
    .productParent {
        justify-content: center;
    }

    .product {
        width: 60%;
    }
}