
.productParent {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    justify-items: center;
    gap: 3em;
    background-color: rgba(0, 0, 0, 0.651);
    padding: 50px;
    margin: auto;
    width: 60%;
}

.product {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: white;
    padding: 20px;
}

.productImage {
 height: 40%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.productDesc {
    display: flex;
    justify-content: center;
    gap: 0;
}

img {

    width: 100%;
}
