.sub,
.sub2 {
  width: 100%;
  height: 100vh;
  display: flex;
}

.sub2 {
  flex-direction: row-reverse;
}

.text,
.altText,
.image,
.altImg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
}

.image {
  background-color: rgba(0, 0, 0, 0.21);
}

.altImg {
  background-color: rgba(0, 0, 0, 0.402);
}

.text {
  font-size: 3.5rem;
  text-align: center;
  width: 100%;
}

.text p {
  color: white;
}

.altText {
  backdrop-filter: blur(4px);
}

.altText p {
  background-color: rgba(255, 255, 255, 0.523);
  font-size: 2rem;
  padding: 5em;
  text-align: center;
}

.slideLeft {
  animation: slideLeft 1s;
}

.slideRight {
  animation: slideRight 1s;
}

.fade {
  animation: fadeIn 1s;
}

@media screen and (max-width: 1280px) {
  .text p {
    font-size: 2rem;
  }

  .altText p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 960px) {
  .altText p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .sub,
  .sub2 {
    height: fit-content;
    flex-direction: column;
    gap: 0;
  }
  .text,
  .altText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
  }

  .text p {
    font-size: 2.5rem;
    text-decoration: underline;
  }

  .altText p {
    padding: 1em;
    font-size: 1.5rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(200%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 100;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 100;
  }
}
