* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-image: url("/assets/imgs/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
  background-color: coral;
}
