* {
  margin: 0;
  padding: 0;
  line-height: 95%;
}

main {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/imgs/background.webp");
  background-size: auto;
  background-repeat: space;
  background-position: auto;
  background-attachment: fixed;
  background-position: center;
  background-color: white;
}

a {
  color: white;
  text-decoration: none;
}
